site_name: RAI documentation
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.instant.prefetch
    - toc.follow
    - navigation.tabs
    - navigation.tabs.sticky
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.tasklist
  - toc:
      permalink: true
      toc_depth: 2
  - attr_list
  - pymdownx.emoji
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets

plugins:
- search
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_style: numpy
          show_root_heading: true
- markdownextradata:
- callouts


extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Robotecai/rai
      name: RAI on GitHub
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/3PGHgTaJSB
      name: ROS Embodied AI Community Group Discord
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/robotec-ai
      name: Robotec.ai on LinkedIn
  branch: main

  analytics:
    provider: google
    property: G-R1ZPP9YFFV
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

copyright: >
  Copyright &copy; 2025 Robotec.ai
  <a href="#__consent">Change cookie settings</a>

nav:
  - Home:
    - Overview: index.md
    - Is RAI a good fit for me?: intro/what_is_rai.md
    - Getting started: setup/install.md
  - Getting started:
    - Local setup: setup/install.md
    - Docker setup: setup/setup_docker.md
    - Tracing setup: setup/tracing.md
    - Vendor setup: setup/vendors.md
  # - ROS 2:
  #   - Debugging assistant: ROS_2/debugging_assistant.md
  #   - Additional packages: ROS_2/ros_packages.md
  - API documentation:
      - Overview: API_documentation/overview.md
      - Agents:
        - Overview: API_documentation/agents/overview.md
        # - ROS 2 Agents: API_documentation/agents/ROS_2_Agents.md
      - Connectors:
        - Overview: API_documentation/connectors/overview.md
        - ROS 2 Connectors: API_documentation/connectors/ROS_2_Connectors.md
      - Aggregators:
        - Overview: API_documentation/aggregators/overview.md
        - ROS 2 Aggregators: API_documentation/aggregators/ROS_2_Aggregators.md
      - LangChain:
        - Overview: API_documentation/langchain_integration/overview.md
        - Multimodal messages: API_documentation/langchain_integration/multimodal_messages.md
        - ROS 2 Tools: API_documentation/langchain_integration/ROS_2_tools.md
      - Runners:
        - Overview: API_documentation/runners/overview.md
  - Speech to speech:
    - Overview: speech_to_speech/overview.md
    - Agents:
        - Overview: speech_to_speech/agents/overview.md
        - Automatic Speech Recognition: speech_to_speech/agents/asr.md
        - Text To Speech: speech_to_speech/agents/tts.md
    - Models:
        - Overview: speech_to_speech/models/overview.md
    - SoundDevice Connector: speech_to_speech/sounddevice.md
  - Tutorials:
    - Overview: tutorials/overview.md
    - Complete walkthrough: tutorials/walkthrough.md
    - Create Robot's Whoami: tutorials/create_robots_whoami.md
    - Tools: tutorials/tools.md
    - Voice Interface: tutorials/voice_interface.md
    - Benchmarking: tutorials/benchmarking.md
  - Demos:
    - Overview: demos/overview.md
    - Robotic arm: demos/manipulation.md
    - Autonomous vehicle: demos/rosbot_xl.md
    - Autonomous tractor: demos/agriculture.md
    - Debugging assistant: demos/debugging_assistant.md
  - Simulation and benchmarking:
    - Overview: simulation_and_benchmarking/overview.md
    - RAI Sim: simulation_and_benchmarking/rai_sim.md
    - RAI Bench: simulation_and_benchmarking/rai_bench.md
    - Simulators: simulation_and_benchmarking/simulators.md
  - Extensions:
    - Perception: extensions/perception.md
    - NoMaD Visual Navigation: extensions/nomad.md
  - FAQ:
    - Overview: faq/faq.md
    - ROS 2: faq/ROS_2_Overview.md
    - Contributing:
      - Overview: faq/contributing/CONTRIBUTING.md
      - Code of conduct: faq/contributing/CODE_OF_CONDUCT.md
      - Security policy: faq/contributing/SECURITY.md
