[tool.poetry]
name = "rai"
version = "0.0.1"
description = "your_description_here"
readme = "README.md"
authors = ["Maciej Majek <maciej.majek@robotec.ai>"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
]
[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.32.2"
pre-commit = "^3.7.0"
openai = "^1.23.3"
coloredlogs = "^15.0.1"
opencv-python = "^4.9.0.80"
markdown = "^3.6"
boto3 = "^1.34.98"
tqdm = "^4.66.4"
pytest = "^8.2.0"
xxhash = "^3.4.1"
optuna = "^3.6.1"
langchain = "^0.2.2"
langchain-openai = "^0.1.8"
langchain-aws = "^0.1.6"
ipykernel = "^6.29.4"
langchain-community = "^0.2.3"
langchain-experimental = "^0.0.60"

[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = { find = { where = ["src"] } }

[tool.mypy]
mypy_path = "src"
ignore_missing_imports = true

[tool.isort]
profile = "black"
