.center-badges {
  text-align: center;
}
:root  > * {
  --md-primary-fg-color:        #1A88AB;
}

table td code {
  white-space: nowrap;
  word-break: keep-all;
}

pre, pre code, .highlight pre, .highlight code {
  white-space: pre-wrap !important;
  word-break: normal !important;
  overflow-x: auto;
}
