name: build and test

on:
  pull_request:
    types: [opened, synchronize, reopened, edited, ready_for_review]
    branches:
      - development
      - main

jobs:
  build-and-test-ros2:
    if: github.event.pull_request.draft == false

    runs-on:
      - self-hosted
      - ${{ matrix.ros_distro }}

    continue-on-error: true

    strategy:
      matrix:
        ros_distro:
          - jazzy
          - humble

    container:
      image: osrf/ros:${{ matrix.ros_distro }}-desktop-full

    steps:
      - uses: actions/checkout@v4
        with:
          clean: true

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.1

      - name: Create virtual audio device
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get --yes install jackd
          jackd -d dummy -r 44100 &

      - name: Install python dependencies
        run: poetry install --with perception,nomad,s2s,simbench

      - name: Update rosdep
        shell: bash
        run: |
          rosdep update

      - name: Import ros2 dependencies
        shell: bash
        run: |
          vcs import . < ros_deps.repos

      - name: Install ROS 2 package dependencies
        shell: bash
        run: |
          apt-get update
          rosdep install --from-paths src --ignore-src -r -y

      - name: Build the workspace
        shell: bash
        run: |
          source /opt/ros/${{ matrix.ros_distro }}/setup.bash
          colcon build

      - name: Run tests
        shell: bash
        run: |
          source setup_shell.sh
          pytest -m "not billable"
